[tool.poetry]
name = "kira_llm"
version = "0.1.1"
description = ""
authors = ["Artur A. Galstyan <galstyan.artu@gmail.com>"]
license = "MIT"
readme = "README.md"
packages=[{include="kira"}]
exclude=["experiments/*", "wandb/*"]

[tool.poetry.dependencies]
python = ">=3.11,<3.13"
numpy = "^1.26.1"
equinox = "^0.11.1"
jax = "^0.4.19"
jaxlib = "^0.4.19"
matplotlib = "^3.8.0"
jaxtyping = "^0.2.23"
optax = "^0.1.7"
torch = "^2.1.0"
icecream = "^2.1.3"
tqdm = "^4.66.1"
wandb = "^0.16.0"
mido = "^1.3.0"
beautifulsoup4 = "^4.12.2"
pandas = "^2.1.3"


[tool.ruff]
ignore = ["F722"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
